@using static DRD.Resources.Common.Common
@using static DRD.Resources.Menu.Menu
@using static DRD.Resources.Buttons

@*
===============================================================================
Projet        DRD.Web
Fichier       AccessDenied.cshtml
Type          View (Razor)
Classe        n/a (Géré par AccountController)
Emplacement   Views/Account
Entité(s)     AccountController
Créé le       2025-12-03

Description
    Page d'accès refusé standard de l'application DRD. Affiche un message
    bilingue et offre des options de redirection.
    Le Layout est hérité du _ViewStart global.

Fonctionnalité
    - Affichage du message d'erreur d'accès via DRD.Resources.
    - Redirection vers l'URL précédente (si disponible dans ViewBag).
    - Redirection par défaut vers la page d'accueil.
    - Utilisation de la règle de conception des boutons (icône seule + titre).

Modifications
    2025-12-05    Remplacement du contenu par la version v9 finalisée.
                   Application de la règle de conception des boutons (icône/title).
===============================================================================
*@

@{
    ViewData["Title"] = AccessDenied_Title;
}

<div class="container text-center mt-5">
    <h1 class="text-danger">🚫 @AccessDenied_Title</h1>
    <p class="lead">@AccessDenied_Description</p>

    @* Région Boutons de redirection (Application de la règle de conception) *@
    @if (ViewBag.ReturnUrl != null)
    {
        <a href="@ViewBag.ReturnUrl" class="btn btn-3d btn-light mt-3" title="@Button_Previous">
            ⬅️ <i class="fa fa-arrow-left"></i>
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", "Home")" class="btn btn-3d btn-light mt-3" title="@Button_Home">
            🏠 <i class="fa fa-home"></i>
        </a>
    }
</div>