@* ============================================================================
Projet                         DRD.Web
Nom du fichier                 _SystemMetadataPartial.cshtml
Type de fichier                Vue partielle (Razor)
Classe                         SystemMetadataPartial
Emplacement                    Views/Shared/Partials
Entité(s) concernées           EntityMetadataDto
Créé le                        2025-12-08

Description
    Modale Bootstrap affichant les métadonnées système d’une entité auditable.
    Les informations proviennent de EntityMetadataDto et sont utilisées dans
    les vues Details et Edit.

Fonctionnalité
    Affiche les dates et utilisateurs de création et modification.
    Utilise les ressources DRD bilingues.
    Compatible avec le système DRD de modales et boutons 3D.

Modifications
    2025-12-08    Version initiale.
    2025-12-09    Conversion complète au standard DRDv10 (header, TAB, régions).
============================================================================ *@

@using DRD.Resources
@using System.Globalization
@model DRD.Application.Popup.Models.EntityMetadataDto

@{
    #region DRD – Préparation du modèle
    // Aucune logique supplémentaire nécessaire : la partial reçoit un EntityMetadataDto complet.
    #endregion

}

<div class="modal fade"
     id="systemMetadataModal"
     tabindex="-1"
     aria-labelledby="systemMetadataLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow rounded-3">

            @* ============================================================
               HEADER
               ============================================================ *@
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="systemMetadataLabel">
                    <i class="fas fa-database"></i> @SystemTables.SystemInfoTitle
                </h5>

                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="@Common.Button_Close">
                </button>
            </div>

            @* ============================================================
               BODY
               ============================================================ *@
            <div class="modal-body">

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <i class="fa-solid fa-calendar-plus"></i>
                        @Common.CreatedOn
                        <strong>@Model.CreationDate.ToString(CultureInfo.CurrentCulture)</strong>
                    </li>

                    <li class="list-group-item">
                        <i class="fa-solid fa-user"></i>
                        @Common.CreatedBy
                        <strong>@(Model.CreatedByName ?? Model.CreatedBy ?? "N/A")</strong>
                    </li>

                    <li class="list-group-item">
                        <i class="fa-solid fa-calendar-pen"></i>
                        @Common.ModifiedOn
                        <strong>@Model.ModificationDate.ToString(CultureInfo.CurrentCulture)</strong>
                    </li>

                    <li class="list-group-item">
                        <i class="fa-solid fa-user-pen"></i>
                        @Common.ModifiedBy
                        <strong>@(Model.UpdatedByName ?? Model.UpdatedBy ?? "N/A")</strong>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
